 body{
            background-image: url(http://i.ytimg.com/vi/oRmpxPwJFw8/maxresdefault.jpg);
        }

        .diner_layer{
            background-color: lightgray;
            height: 510px;
            width: 350px;
            display: inline-block;
            opacity: 0.8;
            border-radius: 20px;
        }
        .diner_reg{
            margin-left: 15px;
            padding: 5px;
        }
    </style>