<div>
	<h1>Welcome</h1>

	<div class="container">
		<form>
			<p>Your Profile Biography:</p>
			<p><textarea ng-model='chefInfo.bio' rows='10' cols='100'>{{ ChefCtrl.bio }}</textarea></p>
			<p>Location:</p>
			<p><input type='text' ng-model='chefInfo.location' value='{{ ChefCtrl.location }}' required/></p>
			<input type='submit' class='btn btn-success' value='Save Changes' ng-click='ChefCtrl.updateInfo(chefInfo)' />
		</form>

		<h2>Your upcoming events</h2>
		<div class="container">
			<div class='eventList' ng-repeat='event in ChefCtrl.events | orderBy: "date"'>
				<div class='col-md-4'>
				<div class='row'>
					<!-- <h5 class='name'>Chef {{app.name}}</h5> -->
					<img class='art' src="{{app.url}}" alt="" />
					<h4><a href="#">{{app.title}}: {{app.cusine}} / ${{app.price}}</a><h6>{{app.date | date:'mediumDate'}} at {{event.time | date: 'shortTime'}}</h6></h4>
				</div>
				</div>
			</div>
		</div>

		<a class='btn btn-danger' href='#/new'>Create New Event</a>

	</div>
</div>
