<style media="screen">

div.form-group {
  padding:10px;
  margin-top: -65px;
}
div.upper_bar{
    background-color: black;
    padding:10px;
  }
div.upper_bar{
    background-color: black;
    padding:10px;
    margin-top: -20px;
    margin-left: -20px;
}
#leaver{
    border-radius: 24px;
    margin-left: 15px;
}
#create{
  text-align: center;
  font-family: fantasy;
  font-size: 40px;
  color:#660033;
}
</style>


<div class='container'>
  <div class='row'>
  <div class='col-xs-12 col-sm-7 col-md-7 col-lg-7'>

<div class='row'>
    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
  <div class='upper_bar'>
    <button id='leaver' class='btn btn-danger'><a style='color: white;' href="#/">Logout</a></button>
  </div>
  <a class='animated shake' href="#/chef_dashboard">Back to Mainpage</a>
  <h2 id='create'>Update Your Event</h2>​
</div>
</div>

  <div class='row'>
    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
    <form class="animated lightSpeedIn form-horizontal" role="form">​
    <div class="form-group">​
    <div class='row'>
      <div class='col-xs-6'>
        Event Title: <input class='form-control input-sm' type='text' ng-model='chefCtrl.event.title' required/>
      </div>
      <div class='col-xs-6'>
        Chef Name: <input class='form-control input-sm' type='text' ng-model='chefCtrl.event.name' required/>
      </div>
    </div>

    <div class='row'>
      <div class='col-xs-6'>
        Cuisine Type: <input class='form-control input-sm' type="text" ng-model='chefCtrl.event.cuisine' required/>
      </div>
      <div class='col-xs-6'>
        Location: <input class='form-control input-sm' type="text" ng-model='chefCtrl.event.location' required/>
      </div>
    </div>

    <div class='row'>
      <div class='col-xs-6'>
        Event Date: <input class='form-control input-sm' type='date' ng-model='chefCtrl.event.date' required/>
      </div>
      <div class='col-xs-6'>
        Event Time: <input class='form-control input-sm' type='time' ng-model='chefCtrl.event.time' required/>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-4'>
        Capacity: <input class='form-control input-sm' type="number" ng-model='chefCtrl.event.guests' required/>
      </div>
      <div class='col-xs-4'>
        $/person<input class='form-control input-sm' type='number' ng-model='chefCtrl.event.price' required/>
      </div>
      <div class='col-xs-4'>
        Duration: <input type='number' class='form-control input-sm' ng-model='chefCtrl.event.duration' required/>
      </div>
    </div>
    Event Description:
    <textarea class='form-control input-sm' ng-model='chefCtrl.event.description' rows="4" cols="40" required></textarea>
    Menu:
    <textarea class='form-control input-sm' ng-model='chefCtrl.event.menu' rows="4" cols="40" required/></textarea>

    <div class='row'>
      <div class='col-xs-6'>
        Event Pic: <input class='form-control input-sm' type='text' ng-model='chefCtrl.event.url'>
      </div>
      <div class='col-xs-6'>
        Profile Pic: <input class='form-control input-sm' type='text' ng-model='chefCtrl.event.pic'>
      </div>
    </div>
    <div class='okay'>
      <button class='btn btn-danger'><a style='color:white'href="#/chef_dashboard">Cancel</a></button>
      <button id='clicked' type="submit" class="btn btn-success" ng-click="chefCtrl.updateEvent(chefCtrl.event);">Update Event</button>​​
    </div>​
  </div>
</form>​
</div>
</div>
</div>
</div>
</div>
