<div id="indexPage">
    <div class='head'>
        <button id='ldiners' class= 'btn btn-success'><a href="#/diner_login">Login Diner</a></button>
        <button id='lchefs' class="btn btn-success"><a href="#/chef_login">Login Chef</a></button>
    </div>

    <div class='container'>
        <div class='main'>
            <h1 class= 'slogan'>Come Home for Dinner</h1>
            <h2 class='slogan2'>New tastes served locally</h2>
            <button id='rdiners' class= 'btn btn-success btn-lg'><a href="#/diner_registration">Register Diner</a></button>
              <button id='rchefs' class="btn btn-success btn-lg"><a href="#/chef_registration">Register Chef</a></button>
        </div>
    </div>
</div>
