<style media="screen">
div.form-group {
  padding:10px;
  margin-top: -65px;
}
div.upper_bar{
  background-color: black;
  padding:10px;
}
div.upper_bar{
  background-color: black;
  padding:10px;
  margin-top: -20px;
  margin-left: -20px;
}
#leaver{
  border-radius: 24px;
  margin-left: 15px;
}
#create{
  text-align: center;
  font-family: fantasy;
  font-size: 40px;
  color:#660033;
}

#clicked{
  margin-left: 10px;
}



</style>

<div class='container'>
  <div class='row'>
    <div class='col-xs-12 col-sm-7 col-md-7 col-lg-7'>

      <div class='row'>
        <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
          <div class='upper_bar'>
            <button id='leaver' class='btn btn-danger'><a style='color: white;' href="#/">Logout</a></button>
          </div>
          <a class='animated shake' href="#/chef_dashboard">Back to Mainpage</a>
          <h2 id='create'>Create a New Event</h2>​
        </div>
      </div>




      <div class='row'>
        <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
          <form class="animated slideInLeft form-horizontal" role="form">​
            <div class="form-group">​
              <div class='row'>
                <div class='col-xs-6'>
                  Event Title: <input  class='form-control input-sm' type='text' ng-model='newEvent.title' required/>
                </div>
                <div class='col-xs-6'>
                  Chef Name: <input class='form-control input-sm' type='text' ng-model='newEvent.name' required/>
                </div>
              </div>

              <div class='row'>
                <div class='col-xs-6'>
                  Cuisine Type: <input class='form-control input-sm' type="text" ng-model='newEvent.cuisine' required/>
                </div>
                <div class='col-xs-6'>
                  Location: <input class='form-control input-sm' type="text" ng-model='newEvent.location' required/>
                </div>
              </div>

              <div class='row'>
                <div class='col-xs-6'>
                  Event Date: <input class='form-control input-sm' type='date' ng-model='newEvent.date' required/>
                </div>
                <div class='col-xs-6'>
                  Event Time: <input class='form-control input-sm' type='time' ng-model='newEvent.time' required/>
                </div>
              </div>

              <div class='row'>
                <div class='col-xs-4'>
                  Capacity: <input class='form-control input-sm' text="number" ng-model='newEvent.guests' required/>
                </div>
                <div class='col-xs-4'>
                  $/person: $<input class='form-control input-sm' type='number' ng-model='newEvent.price' required/>
                </div>
                <div class='col-xs-4'>
                  Duration: <input class='form-control input-sm' type='number' ng-model='newEvent.duration' required/>
                </div>
              </div>

              Event Description:
              <textarea class='form-control input-sm' ng-model='newEvent.description' rows="8" cols="40" required></textarea>
              Menu:
              <textarea class='form-control input-sm' ng-model='newEvent.menu' rows="8" cols="40" required/></textarea>

              <div class='row'>
                <div class='col-xs-6'>
                  Event Pic: <input class='form-control input-sm' type='text' ng-model='newEvent.url'>
                </div>
                <div class='col-xs-6'>
                  Profile Pic: <input class='form-control input-sm' type='text' ng-model='newEvent.pic'>
                </div>
              </div>
              <div class='okay'>
                <button class='btn btn-danger'><a style='color:white' id='linked' href="#/chef_dashboard">Cancel</a></button>
                <button id='clicked' type="submit" class="btn btn-success" ng-click="chefCtrl.addEvent(newEvent);">Create Event</button>​​
              </div>​
            </div>
          </form>​
        </div>
      </div>
    </div>
  </div>
</div>
